/* 主题可用css定义 */
:root {
    --bg-color: #e0e0e0;  /* 深色 */
    --bg-color-2: #e0e0e0;  /* 浅色 */
    --divider-color: #e0e0e0;  /* 分割线 */
    --divider-text-color: #e0e0e0;  /* 分割字体颜色 */
    --border-radius: 8px;

    --text-color: #ffffff;  /* 普通文本颜色 */
    --text-color-2: #e0e0e0;  /* 更暗淡的文本颜色 */
    --text-active-color: #e0e0e0;  /* 被激活时的颜色 */

    --text-mini: 19px;  /* 最小号字 */
    --text-small: 23px;     /* 小号字 */
    --text-medium: 27px;    /* 中号字 */
    --text-large: 3.3em;     /* 大号字 */

    --error-color: #e0e0e0;  /* 错误消息颜色 */
    --success-color: #e0e0e0;  /* 成功消息颜色 */

    --popper-bg-color: #e0e0e0;  /* 弹出框颜色 */
    --popper-hover-bg-color: #ffffff;  /* 弹出框悬浮背景色 */
    --popper-border-color: #595959;  /* 弹出框边框颜色 */

    --switch-bg-color: #424242;  /* 开关背景颜色 */
    --switch-active-bg-color: #ffffff;  /* 开关激活颜色 */
    --switch-disable-bg-color: #ffffff;  /* 开关禁用颜色 */
    --switch-border-color: #2f2f2f;  /* 开关边框颜色 */
    --switch-btn-bg-color: #ffffff;  /* 开关按钮颜色 */

    --a-color: #e0e0e0;
    --a-color-2: #e0e0e0;
    --navbar-color: #e0e0e0;
    --navbar-bg-color: #e0e0e0;

    /* 用户登录页 */
    --redirect-card-bg-color: #e0e0e0;
    --box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);  /* 默认阴影 */

    --button-bg-color: #e0e0e0;  /* 按钮背景色 */
    --button-border-color: #e0e0e0;  /* 按钮边框颜色 */
    --button-text-color: #e0e0e0;  /* 按钮字体颜色 */
}

/* 超链接字色设定 */
a {
    color: var(--a-color);
}

/* 链接样式，去除下划线并添加动画 */
.slide-animation-a {
    text-decoration: none; /* 去掉默认的下划线 */
    position: relative; /* 设置为相对定位以便定位伪元素 */
    display: inline-block; /* 让元素像块级元素一样行为，方便控制大小 */
}

.slide-animation-a:after {
    content: ''; /* 伪元素不需要文本内容 */
    position: absolute; /* 定位到父元素的底部 */
    bottom: 6px; /* 让线条位于超链接的底部 */
    left: 0; /* 从左边开始 */
    width: 100%; /* 初始宽度为 0 */
    height: 2px; /* 设置线条的高度 */
    background-color: var(--a-color); /* 设置线条颜色 */
    transform: scaleX(0); /* 初始状态为缩放为0 */
    transform-origin: bottom left; /* 动画从右侧开始 */
    transition: transform 0.3s ease-in-out;
}

.slide-animation-a:hover::after {
    transform: scaleX(1); /* 鼠标悬停时扩展宽度至 100% */
    transform-origin: bottom left; /* 动画从左侧开始 */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

@font-face {
    font-family: 'FZMiShaoTi';
    src: url('@/assets/fonts/FZMiShaoTi.ttf') format('truetype'); /* 根据字体格式修改路径 */
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background: var(--bg-color);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: FZMiShaoTi, sans-serif;  /* 选用方正喵体 */
    font-size: var(--text-medium);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 最小号字 */
.text-mini {
    font-size: var(--text-mini) !important;
}

/* 小号字 */
.text-small {
    font-size: var(--text-small) !important;
}

/* 中耗子 */
.text-medium {
    font-size: var(--text-medium) !important;
}

/* 大号字 */
.text-large {
    font-size: var(--text-large) !important;
}

/* 失败消息字体颜色 */
.text-error {
    color: var(--error-color);
}

/* 成功消息字体颜色 */
.text-success {
    color: var(--success-color)
}

/* 不可被选中的组件 */
.unselectable {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

.sidebar-divider-text {
    margin-left: 10px;
    font-size: var(--text-small);
    color: var(--divider-text-color);
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

/* 设定页面分割线 */
.setting-divider {
    height: 1px;
    width: 78%;
    background-color: var(--divider-color);
    margin: 40px 0 10px 0;
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

/* 所有弹出框 */
.el-popper {
    color: var(--text-color) !important;
    font-size: var(--text-medium) !important;
    border-radius: var(--border-radius) !important;
    background-color: var(--popper-bg-color) !important;
    border: 1px solid var(--popper-border-color) !important;
    box-shadow: var(--box-shadow) !important;
    user-select: none;  /* 用户不可选中 */
}

/* 导航栏弹出框 */
.el-popper.navbar-popper {
    padding: 5px 0 5px 0 !important;
}

/* 弹出框箭头设定 */
.el-popper>.el-popper__arrow:before {
    background-color: var(--popper-bg-color) !important;
    border: none !important;  /* 将箭头的边框取消 */
}

/* 多选框样式 */
.el-select__wrapper {
    border-radius: var(--border-radius) !important;
    background-color: var(--popper-bg-color) !important;
    box-shadow: none !important;
    border: 2px solid var(--popper-border-color) !important;
}

/* 多选择框下拉选单选项样式 */
.el-select-dropdown__item {
    font-size: var(--text-small) !important;
    color: var(--text-color) !important;
}

/* 选择框占位 */
.el-select__placeholder {
    color: var(--text-color) !important;
    font-size: var(--text-small) !important;
}

/* 选择框三角标 */
.el-select__caret {
    color: var(--text-color) !important;
}

.el-select-dropdown__item.is-hovering {
    background-color: var(--popper-hover-bg-color) !important;
}

/* 背景图片 */
.background {
    position: fixed; /* 固定定位 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* 背景覆盖 */
    background-position: center; /* 背景居中 */
    z-index: -1; /* 确保在其他元素后面 */
    right: 0;
    bottom: 0;
    background-repeat: no-repeat; /* 不重复背景图 */
    /*transition: background-image 1s ease-in-out;*/ /* 平滑过渡 */
}

/* 侧边栏统一样式 */
.sidebar {
    margin-top: 30px;
    width: 220px;
    margin-right: 40px;
}

/* 消息弹窗 */
.el-message-box {
    background-color: var(--redirect-card-bg-color) !important;
    border: 1px solid var(--redirect-card-bg-color) !important;
    box-shadow: var(--box-shadow) !important;
    --el-messagebox-width: 500px !important;
    border-radius: var(--border-radius) !important;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

/* 消息弹窗标题 */
.el-message-box__title {
    color: var(--text-color) !important;
    font-size: var(--text-medium) !important;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

/* 消息弹窗消息提示 */
.el-message-box__content {
    font-size: var(--text-small) !important;
    color: var(--text-color-2) !important;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

/* 吐司弹窗消息提示 */
.el-notification {
    --el-notification-width: 450px !important;  /* 宽度 */
    --el-notification-border-color: var(--redirect-card-bg-color) !important;
    background-color: var(--redirect-card-bg-color) !important;
    border: 1px solid var(--redirect-card-bg-color) !important;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    box-shadow: var(--box-shadow) !important;
}

/* 弹出框标题 */
.el-notification__title {
    color: var(--text-color) !important;
    font-size: var(--text-medium) !important;
}

/* 弹出框消息 */
.el-notification__content {
    color: var(--text-color-2) !important;
    font-size: var(--text-small) !important;
}

/* 弹出框按钮 */
.popup-message .el-button--primary, .popup-message .el-button {
    font-size: var(--text-mini) !important;
}

/* 弹出框消息开头图标 */
.popup-message .el-message-box__status.el-message-box-icon--warning {
    color: var(--text-color);
}

/* 按钮颜色 */
.el-button--primary, .el-button {
    font-family: 'FZMiShaoTi', sans-serif !important;
    border-radius: var(--border-radius) !important;
    --el-button-bg-color: var(--button-bg-color) !important;
    --el-button-border-color: var(--button-border-color) !important;
    --el-button-text-color: var(--button-text-color) !important;
    /* 悬停 */
    --el-button-hover-text-color: var(--button-text-color) !important;
    --el-button-hover-link-text-color: var(--button-text-color) !important;
    --el-button-hover-bg-color: var(--button-bg-color) !important;
    --el-button-hover-border-color: var(--button-border-color) !important;
    /* 点按激活 */
    --el-button-active-color: var(--button-text-color) !important;
    --el-button-active-bg-color: var(--button-bg-color) !important;
    --el-button-active-border-color: var(--button-border-color) !important;
}

/* 按钮加载状态 */
.el-button.is-loading {
    border-color: var(--button-border-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

/* 侧向菜单栏分隔线 */
.sidebar-desc {
    color: var(--text-color-2);
    font-size: var(--text-small);
    margin-left: 10px;
    margin-bottom: 5px;
}

/* 卡片头 */
.el-card__header {
   /*border-bottom: 1px solid var(--divider-color) !important;*/
    border-bottom: none !important;
    padding: 10px 0 25px 19px !important;
}

/* 卡片体 */
.el-card__body {
    padding: 0 0 0 20px !important;
}

/* 开关 */
.el-switch__core {
    /*background-color: var(--popper-bg-color) !important;*/
    border-color: var(--popper-border-color) !important;
}

.el-switch {
    --el-switch-on-color: var(--switch-active-bg-color) !important;
    --el-switch-off-color: var(--switch-bg-color) !important;
}

.el-switch__core .el-switch__action {
    background-color: var(--switch-btn-bg-color) !important;
}


